<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}: US IAE
  body
    h1 CO2 emission from Coal consumption for Electrical power production
    if !year || !state
      h2 Error: #{message}

    ul
      li Quantity: #{quantity}
      li State: #{state}
      li Year: #{year}
      li Taxes owing: #{tax}
    //- - if (tax>0)

    //- TODO: Need to add UI at some point to make it more interesting. Probably with React
    //- form(action="/compare" type="POST")
    //-   select(name="test")
    //-     option(value="") ....
    //-     option(value="alabama") Alabama
    //-     option(value="alaska") Alaska
    //-     option(value="arizona") Arizona
    //-     option(value="arkansas") Arkansas
    //-     option(value="california") California
    //-   select(name="test")
    //-     option(value="") ....
    //-     option(value="alabama") Alabama
    //-     option(value="alaska") Alaska
    //-     option(value="arizona") Arizona
    //-     option(value="arkansas") Arkansas
    //-     option(value="california") California
    //-   button(type="submit") Compare Selected
    //- form(action="/compare" type="POST")
    //-   button(type="submit") Compare All


